/*Main css*/


html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}



body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: .83em;
  line-height: 1.75;
  color: #666666;
  background-color: white;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}



h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, sans-serif;
  color: #36BAF8;
}



button,
input,
select,
textarea {
  border: 1px solid #36BAF8;
  outline: 0;
  padding: 10px 12px;
  color: #36BAF8;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  border-color: #666666;
}


.main-btn {
  color: white;
  border: 1px solid white;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e2e2e2;
  margin: 40px 0;
}


.main-header {
  position: fixed;
  width: 100%;
  margin-right: 180%;
  size: 30%;

  
  z-index: 1000;
  top: 94px;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.scrolled {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#menu-wrapper {
  background-color:  #CECECE;
  overflow: hidden;
  -moz-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
}

.logo-wrapper {
  background: url(../images/logo2.png) no-repeat;
  height: 100px;
  background-position: 15px;
}
.logo-wrapper a {
  display: inline-block;
  overflow: hidden;
  padding-left: 130px;
  line-height: 100px;
  text-transform: uppercase;
  color: white;
  font-size: 32px;
  font-weight: 700;
}

.main-menu ul li {
  display: inline-block;
  margin: 0 20px;
}
.main-menu ul li:last-child {
  margin-right: 35px;
}
.main-menu ul li a {
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  line-height: 100px;
  padding-top: 37px;
}
.main-menu ul li.active a {
  border-top: 3px solid #36BAF8;
  color: white;
}

.toggle-menu {
  width: 36px;
  height: 36px;
  float: right;
  margin-top: 33px;
  margin-right: 30px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background: #EC523F;
  display: inline-block;
  color: white;
  cursor:pointer;
}


.flexslider {
  position: relative;
  top: -96px;
  margin-left: -40px;
}
.flexslider .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.flexslider .slider-caption {
  position: absolute;
  z-index: 9;
  width: 100%;
  text-align: center;
  top: 380px;
  left: 0;
}
.flexslider .slider-caption h2 {
  color: white;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  display: inline-block;
}
.flexslider .slider-caption p {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 26px;
  display: block;
}
.flexslider .slider-caption a.slider-btn {
  color: white;
  background-color: #36BAF8;
  padding: 12px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
}
@media screen and (min-width: 989px) {
  .flexslider .slider-caption {
    top: 230px;
  }
}
@media screen and (min-width: 1200px) {
  .flexslider .slider-caption {
    top: 380px;
  }
}
@media screen and (max-width: 1199px) {
  .main-menu ul li {
    margin-left: 15px;
    margin-right: 15px;
  }
  .main-menu ul li:last-child {
    margin-right: 30px;
  }
}
@media screen and (max-width: 991px) {
  .logo-wrapper { 
    background-size: contain;     
  }
  .logo-wrapper{
    height: 50px;
  }
  .logo-wrapper a {
    line-height: 50px;
    padding-left: 70px;
  }
  .toggle-menu {
    margin-top: 7px;
    margin-right: 10px;
  }
  .main-menu ul li {
    display: block;
  }
  .menu-first.show {
    /*opacity: 1;*/
    /*height: auto;  */  
    margin-top: 10px;
    display: block;
    /*transition: opacity 1s, height 0;*/
  }
  .menu-first {
    float: right;
    overflow: auto;
    width: 100%;  
    display: none;  
   
  }
  .main-menu ul li a {
    line-height: 40px;
    padding-top: 10px;   
  }
  .main-menu ul li.active a {
    border-top: none;
  }
  .main-menu ul li:last-child { margin-right: 20px; }
}
@media screen and (max-width: 767px) {
  .main-header {
    top: 0;
  }
  .site-header {
    margin-top: 40px;
  }
  .logo-wrapper {
    float: left;
  }
  .menu-first {
    margin-top: 0;
  }
  .flexslider {
    margin-top: 80px;
  }
}

@media screen and (max-height: 500px) {
  .menu-first.show {
    max-height: 250px;
    padding-right: 15px;
  }
}

.content-section1 {
  margin-top: -95px;
  padding-top: 60px;
  background-color: white;
}

.content-section2 {
  margin-top: 80px;
  padding-top: 60px;
  background-color: #E3E3E3;
}

.content-section3 {
  margin-top: 80px;
  padding-top: 0px;
  background-color: white;
}



.content-section4 {
  margin-top: 80px;
  padding-top: 60px;
  background-color: #E3E3E3;
}

.heading-section {
  margin-bottom: 60px;
}
.heading-section h2 {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #444444;
  display: inline-block;
}
.heading-section p {
  color: #444444;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
}



.space-fixed {
  width: 100%;
  height: 130px;
  overflow: hidden;
  position: relative;
}

.content-section#services {
  margin-top: 0px;
}

.service-item {
  position: relative;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.service-item a {
	color: #ffff66;
}

.service-item a:hover {
	color: black;
}

.service-item .service-icon {
  font-size: 3em;
  padding: 110px 0;
}
.service-item .service-content {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.service-item .service-content .inner-service {
  padding: 20px;
}
.service-item .service-content h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}
.service-item:hover .service-icon {
  opacity: 0;
  visibility: hidden;
}
.service-item:hover .service-content {
  opacity: 1;
  visibility: visible;
}

#service-1 {
  background-color: #1abc9c;
}

#service-2 {
  background-color: #e67e22;
}

#service-3 {
  background-color: #3498db;
}

#service-4 {
  background-color: #2ecc71;
}

.portfolio-item {
  margin-bottom: 30px;
}
.portfolio-item .portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-item .portfolio-thumb img {
  width: 100%;
}
.portfolio-item .portfolio-thumb .portfolio-overlay {
  background-color: #36BAF8;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 25px;
  text-align: center;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.portfolio-item .portfolio-thumb .portfolio-overlay h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 1px solid white;
}
.portfolio-item .portfolio-thumb .portfolio-overlay a.expand {
  margin-top: 15px;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  background-color: white;
  display: inline-block;
  text-align: center;
}
.portfolio-item .portfolio-thumb .portfolio-overlay a.expand i {
  line-height: 36px;
}
.portfolio-item .portfolio-thumb:hover .portfolio-overlay {
  opacity: 1;
  visibility: visible;
}


.team-member .member-thumb .team-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: #578CA9;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.team-member .member-thumb .team-overlay h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-top: 64px;
}
.team-member .member-thumb .team-overlay span {
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 10px;
  display: block;
}
.team-member .member-thumb .team-overlay ul.social {
  display: block;
  margin-top: 20px;
}
.team-member .member-thumb .team-overlay ul.social li {
  display: inline-block;
}
.team-member .member-thumb .team-overlay ul.social li a {
  width: 36px;
  height: 36px;
  background-color: white;
  line-height: 40px;
  color: #ec523f;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
}
.team-member .member-thumb:hover .team-overlay {
  opacity: 1;
  visibility: visible;
}

@font-face {
  font-family: 'flexslider-icon';
  src: url("../fonts/flexslider-icon.eot");
  src: url("../fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}


/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

.flex-direction-nav a {
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}




/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}








