@import 'bootstrap.css';
@import 'menu.css';

body{
  background-color:#F5F5F5;
}

.btn-primary, .btn-default{
	background-color:#222222;
	color:white;
	padding:20px;
}

.btn-primary:hover,.btn-primary:focus, .btn-default:hover, .btn-default:focus{
	background-color:rgba(54, 186, 248, 0.8);
	color:white;
}

#tab1{
  margin-top:40px;
  padding-left:2%;
  background-color:white;
  border-radius:10px;
  border-style:solid;
  border-color:#CDCDCD;
  border-width:1px;
}

.card{
  margin-top:50px;
  margin-bottom:50px;
  border-style:solid;
  border-radius:10px;
  border-color:#CDCDCD;
  border-width:1px;
  border-style:none;
  font-size:20px;
}

.profilePic img{
  border-radius:50%;
}
